.selector-main-section {
	min-height: calc(99vh - 130px);
	padding-bottom: 50px;
}
.footer-section {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	left: 0;
	right: 0;
	background: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #ddd;
}
