@font-face {
    font-family: 'Simplified Arabic Fixed';
    src: url('SimplifiedArabicFixed.woff2') format('woff2'),
        url('SimplifiedArabicFixed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.selector-main-section {
	min-height: calc(99vh - 130px);
	padding-bottom: 50px;
}
.footer-section {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	left: 0;
	right: 0;
	background: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #ddd;
}
.hidden{display: none !important;}
.is-invalid {
	border: 1px solid red !important;
}

.location-selector {
	max-width: 550px;
	margin: auto;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 60px);
	justify-content: center;
	padding: 0 20px;
}
.location-selector select {
	margin: 0;
	width: 100%;
	background-color: #fff;
	border: 1px solid #aaa;
	height: 48px;
	border-radius: 10px;
	text-align: center;
}
.location-selector h3{
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}
.full{width: 100%;}
.main-container{padding-right:20px;padding-left:20px}