


header select:not([multiple]) {
	background-position: left 13px center;
}
.dark header select:not([multiple]) {
	background-image: url(../images/icon-select-arrow-white.svg);
    background-position: left 13px center;
}

.dropdown-menu{
    right: auto;
}
.dropdown-wrapper{
    left: 10px;
    right: auto;
}
select{
    background-position: left 0.3rem center;
    padding-left: 22px;
}
.table-screen .template-header .content-view h2:first-child{
    text-align: right;
    padding-right: 3%;
    padding-left: 1%;
}


.table-screen .content-view:nth-child(odd) {
    border-right: 0 !important;
    border-left: 1px solid #d1d1d1
}
.table-screen .content-view h1{padding-left: 0;padding-right: 3%;}
